.grid-container {
  width: 99%;
  margin-inline: auto;
  height: calc(100vh - 200px);
  max-height: 650px;
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.node-container {
  display: block;

}

.node {
  width: 100%;
  height: 100%;
  outline: 1px solid var(--lapis-lazuli);
  background-color: rgb(254, 255, 255);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-icon {
  display: none;
}

.green {
  background-color: rgb(15, 218, 32);
  animation: obstacle-animate 0.5s ease-in-out;
}



.red {
  background-color: #ff1a09;
  animation: obstacle-animate 0.5s ease-in-out;
}

.bomb {
  background-color: rgb(62, 49, 3);
  animation: obstacle-animate 0.3s ease-in-out;
}



@keyframes selection2 {
  0% {
    transform: scale(0.3);
    background: radial-gradient(circle, rgba(47, 1, 26, 0.75), rgba(109, 23, 69, 0.75));
    border-radius: 100%;
  }

  25% {
    background: radial-gradient(circle, rgba(109, 23, 69, 0.75), rgba(131, 36, 87, 0.825));
    transform: scale(0.9);
  }

  50% {
    background: radial-gradient(circle, rgba(233, 50, 147, 0.75), rgba(223, 54, 172, 0.75));
    transform: scale(1.1);
  }

  75% {
    background: radial-gradient(circle, rgba(237, 22, 219, 0.75), rgba(225, 8, 200, 0.75));
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
    background-color: rgb(242, 138, 193);
  }
}

@keyframes selection {
  0% {
    transform: scale(0.3);
    background: radial-gradient(circle, rgba(0, 0, 66, 0.75), rgba(29, 94, 206, 0.75));
    border-radius: 100%;
  }

  25% {
    background: radial-gradient(circle, rgba(29, 94, 206, 0.75), rgba(67, 98, 238, 0.75));
    transform: scale(0.9);
  }

  50% {
    background: radial-gradient(circle, rgba(67, 98, 238, 0.75), rgba(132, 207, 240, 0.75));
    transform: scale(1.1);
  }

  75% {
    background: radial-gradient(circle, rgba(67, 239, 173, 0.75), rgba(145, 244, 140, 0.75));
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
    background-color: var(--tifanny-blue);
  }
}

.grid-container .purple {
  background-color: #f2ff00;
  animation: path 1.2s ease-in-out forwards;
}

.grid-container .path2 {
  animation: path2 1.2s ease-in-out forwards;
}

@keyframes path {
  0% {
    background-color: #357b37;
    border: 4px solid white;
  }

  25% {
    background-color: #66BB6A;
    border: 3px solid rgb(223, 220, 220);
  }

  50% {
    background-color: #81C784;
    border: 2px solid rgb(211, 206, 206);
  }

  75% {
    background-color: #A5D6A7;
    border: 1px solid white;
  }

  100% {
    background-color: #b8fbb0;
    outline: 1px solid #b8fbb0;
  }
}

@keyframes path2 {
  0% {
    background-color: #f9e355;
    border: 4px solid white;
  }

  25% {
    background-color: #f0fc49;
    border: 3px solid white;
    /* Light grey */
  }

  50% {
    background-color: #e9f366;
    border: 2px solid white;
  }

  75% {
    background-color: #ecf660;
    border: 1px solid white;
  }

  100% {
    background-color: #f7ff8e;
    outline: 1px solid #f7ff8e;
  }
}

@keyframes obstacle-animate {
  0% {
    transform: scale(0.2);
    border-radius: 50%;
  }

  25% {
    transform: scale(0.4);
    border-radius: 35%;
  }

  50% {
    transform: scale(0.8);
    border-radius: 20%;
  }

  75% {
    transform: scale(1.1);
    border-radius: 5%;
  }

  100% {
    transform: scale(1);
    border-radius: none;
  }
}

.violet {
  background-color: rgb(242, 138, 193);
}

.blue {
  background-color: var(--tifanny-blue);
}


.weight {
  animation: obstacle-animate 0.3s ease-in-out forwards;
}

.weight .node-icon {
  display: block;
  color: var(--indigo-dye);
  font-size: 0.9rem;
}

.green .node-icon,
.red .node-icon {
  display: none;
}



.yellow2 {
  background-color: #f7ff8e;
  outline: 1px solid #f7ff8e;
}

.yellow {
  background-color: #b8fbb0;
  outline: 1px solid #b8fbb0;
}

.greenNone {
  background-color: rgb(15, 218, 32);
}

.redNone {
  background-color: #ff1a09;
}

.bombNone {
  background-color: rgb(62, 49, 3);
}

.selected2 {
  animation: selection2 1.5s ease-in-out forwards;
  outline-color: rgba(47, 1, 26, 0.75);
}

.selected {
  animation: selection 1.5s ease-in-out forwards;
  outline-color: rgba(0, 0, 66, 0.75);
}


.obstacle {
  background-color: var(--french-violet);
  outline: 1px solid var(--slate-blue);
  border-collapse: collapse;
  animation: obstacle-animate 0.5s ease-in-out;
}


.blue .node-icon,
.selected .node-icon {
  color: var(--cerulean);
}

.yellow .node-icon,
.purple .node-icon {
  color: rgb(30, 6, 124);
}

@media screen and (max-width:900px) {
  .grid-container {
    height: 280px;
  }
}


@media screen and (max-width:650px) {
  .grid-container {
    height: 225px;
  }

  @keyframes path {
    0% {
      background-color: var(--keppel);
      border: 2px solid white;
    }

    25% {
      background-color: var(--emerald);
      border: 1px solid rgb(223, 220, 220);
    }

    50% {
      background-color: var(--light-green-2);
      border: 1px solid rgb(211, 206, 206);
    }

    75% {
      background-color: var(--light-green);
      border: 1px solid white;
    }

    100% {
      background-color: var(--mindaro);
      outline: 1px solid var(--mindaro);
    }
  }
}