.grid-container {
  width: 99%;
  margin-inline: auto;
  height: calc(100vh - 200px);
  max-height: 650px;
  display: grid;
  grid-template-columns: repeat(60, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.node-container {
  display: block;

}

.node {
  width: 100%;
  height: 100%;
  outline: 1px solid var(--lapis-lazuli);
  background-color: rgb(254, 255, 255);
  /* cursor: pointer; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.node-icon {
  display: none;
}

.green {
  background-color: rgb(15, 218, 32);
  animation: obstacle-animate 0.5s ease-in-out;
}



.red {
  background-color: #ff1a09;
  animation: obstacle-animate 0.5s ease-in-out;
}

.bomb {
  background-color: black;
  animation: obstacle-animate 0.3s ease-in-out;
}

.bombNone {
  background-color: black;
}







@keyframes selection {
  0% {
    transform: scale(0.2);
    background-color: var(--indigo-dye);
    border-radius: 50%;
  }

  25% {
    transform: scale(0.4);
    background-color: var(--verdigris);
    border-radius: 35%;
  }

  50% {
    transform: scale(0.6);
    background-color: var(--bondi-blue);
    border-radius: 20%;
  }


  75% {
    transform: scale(0.8);
    background-color: var(--cerulean);
    border-radius: 5%;
  }

  100% {
    transform: scale(1);
    background-color: var(--tifanny-blue);
    border-radius: 0%;
  }
}


@keyframes selection2 {
  0% {
    transform: scale(0.2);
    background-color: rgb(213, 108, 213);
    border-radius: 50%;
  }

  25% {
    transform: scale(0.4);
    background-color: rgb(196, 52, 196);
    border-radius: 35%;
  }

  50% {
    transform: scale(0.6);
    background-color: rgb(160, 11, 160);
    border-radius: 20%;
  }


  75% {
    transform: scale(0.8);
    background-color: rgb(164, 7, 164);
    border-radius: 5%;
  }

  100% {
    transform: scale(1);
    background-color: purple;
    border-radius: 0%;
  }
}

.grid-container .purple {
  background-color: #f2ff00;
  animation: path 1.2s ease-in-out forwards;
}


@keyframes path {
  0% {
    background-color: var(--keppel);
    border: 4px solid white;
  }

  25% {
    background-color: var(--emerald);
    border: 3px solid rgb(223, 220, 220);
  }

  50% {
    background-color: var(--light-green-2);
    border: 2px solid rgb(211, 206, 206);
  }

  75% {
    background-color: var(--light-green);
    border: 1px solid white;
  }

  100% {
    background-color: var(--mindaro);
    outline: 1px solid var(--mindaro);
  }
}

@keyframes obstacle-animate {
  0% {
    transform: scale(0.2);
    border-radius: 50%;
  }

  25% {
    transform: scale(0.4);
    border-radius: 35%;
  }

  50% {
    transform: scale(0.6);
    border-radius: 20%;
  }

  75% {
    transform: scale(0.8);
    border-radius: 5%;
  }

  100% {
    transform: scale(1);
    border-radius: none;
  }
}

.blue {
  background-color: var(--tifanny-blue);
}

.weight {
  animation: obstacle-animate 0.3s ease-in-out forwards;
}

.weight .node-icon {
  display: block;
  color: var(--indigo-dye);
  font-size: 0.9rem;
}

.green .node-icon,
.red .node-icon {
  display: none;
}

.yellow {
  outline: 1px solid var(--mindaro);
  background-color: var(--mindaro);
}


.greenNone {
  background-color: rgb(15, 218, 32);
}

.redNone {
  background-color: #ff1a09;
}



.selected {
  animation: selection 1.1s ease-in-out forwards;
  border-color: var(--lapis-lazuli);
}

.selected2 {
  animation: selection2 1.1s ease-in-out forwards;
  border-color: var(--lapis-lazuli);
}

.obstacle {
  background-color: var(--french-violet);
  outline: 1px solid var(--slate-blue);
  border-collapse: collapse;
  animation: obstacle-animate 0.3s ease-in-out;
}


.blue .node-icon,
.selected .node-icon {
  color: var(--cerulean);
}

.yellow .node-icon,
.purple .node-icon {
  color: rgb(30, 6, 124);
}

@media screen and (max-width:900px) {
  .grid-container {
    height: 280px;
  }
}


@media screen and (max-width:650px) {
  .grid-container {
    height: 225px;
  }

  @keyframes path {
    0% {
      background-color: var(--keppel);
      border: 2px solid white;
    }

    25% {
      background-color: var(--emerald);
      border: 1px solid rgb(223, 220, 220);
    }

    50% {
      background-color: var(--light-green-2);
      border: 1px solid rgb(211, 206, 206);
    }

    75% {
      background-color: var(--light-green);
      border: 1px solid white;
    }

    100% {
      background-color: var(--mindaro);
      outline: 1px solid var(--mindaro);
    }
  }
}