@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:wght@400;500;600;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  /* COLORS */
  --mindaro: #d9ed92;
  --light-green: #b5e48c;
  --light-green-2: #99d98c;
  --emerald: #76c893;
  --keppel: #52b69a;
  --verdigris: #34a0a4;
  --bondi-blue: #168aad;
  --cerulean: #1a759f;
  --lapis-lazuli: #1e6091;
  --indigo-dye: #184ee7;
  --french-violet: #7400b8;
  --grape: #6930c3;
  --slate-blue: #5e60c3;
  --unite-nations-blue: #5390d9;
  --picton-blue: #4ea8de;
  --aero: #48bfe3;
  --sky-blue: #56cfe1;
  --tifanny-blue: #64dfdf;
  --turquoise: #72efdd;
  --aquamarine: #80ffdb;
}